In [1]:
#  함수 (Function)
# 일정한 동작 수행시킴 
# 내장함수 : 프로그래밍언어가 미리 정의한 함수
# 사용자정의함수 : 사용자가 임의로 등록해 사용
# 장점 
#1 . 기능을 손쉽게 여러번 사용 가능
#2 . 패키지 제작 가능
#3 . 프로그램 유지보수의 편의성
#4 . 함수로 대체할 수 있는 몇 가지 문법

In [4]:
# def 함수이름(입력값) : 
  # 함수에서 실행될 코드
  # return 리턴값 
  #                          첫째줄만 갖추면 내부에 어떤코드를 입력해도 무관 
                            #(입력값,   리턴값) 중 하나 이상이 없어도 무관
                            #아무내용이 없는 함수도 가능

In [5]:
1 + 1

2

In [6]:
def myfunction(x, y):
    return x + y

In [7]:
myfunction(10,20)

30

In [8]:
## 계산기 프로그램 만들기

#1. 사칙연산만 합니다
#1.  정수 두 개를 받습니다
#1. 어떤 연산을 할지 물어본다
#1. 선택한 연산에 따라 연산 함수를 실행합니다.
#1. 연산 함수의 결과값을 출력합니다

In [27]:
def count_time(x):
    from IPython.display import clear_output
    import time
    for i in range(60*x,0,-1):
        print(i, '초 남았습니다')
        time.sleep(1)
        clear_output(wait)

In [37]:
def plus(a,b):
    return a+b

In [38]:
def minus(a,b):
    return a-b

In [39]:
def div(a,b):
    return a/b

In [40]:
def mul(a,b):
    return a*b

In [41]:
while True :
    a = int(input('첫번째 정수'))
    b = int(input('두번째 정수'))
    z = str(input(['+','-','*','/']))
    
    if (z == '+'):
        res = plus(a, b)
    elif (z == '-'):
        res = minus(a, b)
    elif (z == '*'):
        res = mul(a, b)
    elif (z == '/'):
        res = div(a, b)
    else:
        print('다시 입력하세요 ')
    break

첫번째 정수43
두번째 정수3
['+', '-', '*', '/']/

In [7]:
import python_file

In [8]:
python_file.myfunction(10,6)

16

In [9]:
python_file.myfunction2(10,6)

4

In [39]:
x = int(input('숫자1'))
y = int(input('숫자2'))
calc = input('연산기호를 입력하세요')

if calc == '+':
    print(x+y)

숫자16
숫자24
연산기호를 입력하세요+
10

In [40]:
def input_int():
    return int(input('숫자를 입력하세요  '))

In [42]:
x = input_int()
y = input_int()

숫자를 입력하세요  6
숫자를 입력하세요  3

In [43]:
y

3

In [44]:
def input_int(msg):
    return int(input(msg))

In [45]:
x = input_int('첫번째 숫자를 입력하세요')
y = input_int('두번째 숫자를 입력하세요')

첫번째 숫자를 입력하세요3
두번째 숫자를 입력하세요5

In [32]:
def calculator(x = int(input('숫자1 : ')), y = int(input('숫자2 :')),calc = input('연산기호를 입력하세요')):
    if calc == '+':
        print(x+y)
    elif calc == '-':
        print(x-y)
    elif calc == '*':
        print(x*y)
    elif calc == '/':
        print(x/y)

숫자1 : 3
숫자2 :5
연산기호를 입력하세요-

In [68]:
import pandas as pd

In [69]:
from scipy import stats             # 폴더가 패키지역할  __init__.py함수를 담는다 . 참새가 모듈역할을 맡는다 .

In [1]:
import 개미

In [2]:
개미.function1()

'hello'

In [87]:
from 개미 import 참새

In [88]:
참새.bird()

짹짹

In [10]:
def funcA(x, y):
    return x * y

In [11]:
funcA(12,8)

96

In [12]:
def minus(x, y):
    return x - y

In [13]:
minus(12,8)

4

In [14]:
def minus2(x, y):
    return y - x

In [16]:
minus2(12,8)

-4

In [17]:
def minus3(x, y):
    return x - y
    return y - x

In [18]:
minus3(12,8)

4

In [43]:
def minus4(x, y):                    # 1안 
    return x - y, y - x

In [46]:
A = minus4(12, 10)

In [47]:
A, B = minus4(12, 10)

In [48]:
A

2

In [49]:
B

-2

In [51]:
def minus5(x,y,z):                # 2안 
    if z == 1: 
        return x-y
    else:
        return y-x

In [52]:
minus5(12,8,1)

4

In [53]:
minus5(12,8,2)

-4

In [54]:
def minus6(x,y):                # 3안  프린트값은나오지만 리턴되지않음 값이 안들어감 
    print(x-y)
    return y-x

In [55]:
A = minus6(12,8)

4

In [56]:
A

-4

In [57]:
def minus6(x,y):
    print(x-y)
    print(y-x)

In [58]:
A = minus6(12,7)

5
-5

In [59]:
A

In [62]:
def minus7(x, y):               # 4안        1안에서 , 쓰는거와 같음
    return [x - y, y -x]

In [63]:
minus7(12,8)

[4, -4]

In [65]:
# 함수 실습
# 함수이름은 func1
# 입력받는값은 (x,y)
# 반환값 x / y 의 나머지와 x - y 를 비교해 
# 전자가 크면 Type 1 
# 둘이같거나 후자가 크면 Type ii라고 반환

In [92]:
def func1(x, y):
    if x % y > x - y :
        return 'Type 1'
    elif x % y <= x - y:                                         # 연습 
        return 'Type 2'

In [93]:
func1(22,3)

'Type 2'

In [81]:
def func1(x, y):
    A = x%y
    B = x-y
    
    if A > B:
        return 'Type 1'
    elif A<=B :
        return 'Type 2'

In [82]:
func1(9,8)

'Type 2'

In [94]:
# 함수를 이용해 코드를 편하게 짜는법 
#리스트 컴프리텐션

In [98]:
def funcX(x):
    print(x%2)
    print(x*2)

In [97]:
for i in range(10):
    funcX(i)

0
1
0
1
0
1
0
1
0
1

In [100]:
[i%2 for i in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [104]:
list1 = []

for i in range(10):
    list1 += [i%2]
    list1 += [i//2]
    list1 += [i+2]
    list1 += [i-2]

In [102]:
list1

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [133]:
list1 = []

for i in range(10):
        if i%2 == 0:
            list1 += [i]

In [113]:
# [i for i in range(10) if i%2 ==0]
def funcY(x):
    if x%2 == 0 :
        return x
    else:
        return 0

In [114]:
[funcY(i) for i in range(10)]

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

In [117]:
def funcZ(i):
    return i+1-4*2-3

[funcZ(i) for i in range(10)]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [118]:
import pandas as pd

In [119]:
df = pd.read_csv('한국전력거래소_시간별 제주 풍력 발전 제어량_20211231.csv',encoding='cp949')

In [120]:
df

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46.67
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.10
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,97.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2021-10-22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.26
60,2021-10-23,61,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,50.60
61,2021-10-31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37.12
62,2021-11-03,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71.97
63,2021-12-03,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,72.05

In [122]:
for i in df.index:
    print(df.loc[i,'1시':'24시'])

1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시      12
14시    28.0
15시    25.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 0, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       4
14시    18.0
15시     0.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 1, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       0
14시    21.0
15시    25.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 2, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시      13
14시    22.0
15시     1.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 3, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       3
13시      31
14시    43.0
15시    18.0
16시       3
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 4, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      0
13시      0
14시    4.0
15시    4.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 5, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      3
12시     41
13시     32
14시    0.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 6, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       0
14시    45.0
15시    26.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 7, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       0
14시    0.38
15시    0.46
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 8, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      29
13시      63
14시    78.0
15시    33.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 9, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       3
13시      33
14시    33.0
15시    13.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 10, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시         0
10시        0
11시        7
12시       87
13시      143
14시    149.0
15시    149.0
16시       92
17시       20
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 11, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       1
13시      16
14시    25.0
15시    24.0
16시       3
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 12, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      0
13시      0
14시    1.0
15시    6.0
16시      1
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 13, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       0
14시     4.0
15시    28.0
16시      13
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 14, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      40
13시      73
14시    88.0
15시    75.0
16시       9
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 15, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시      22
12시      56
13시      59
14시    59.0
15시    59.0
16시      36
17시       4
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 16, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      14
13시      44
14시    40.0
15시     1.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 17, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       2
11시      33
12시      62
13시      93
14시    93.0
15시    43.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 18, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      29
13시      73
14시    68.0
15시    54.0
16시      25
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 19, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       3
12시      26
13시      26
14시    26.0
15시    25.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 20, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시      13
14시    18.0
15시     0.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 21, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시      30
14시    59.0
15시     4.0
16시      11
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 22, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      0
13시     13
14시    3.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 23, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시         0
10시       58
11시      115
12시      150
13시      156
14시    146.0
15시    145.0
16시       80
17시        7
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 24, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시         0
10시        0
11시       39
12시      101
13시      136
14시    138.0
15시    105.0
16시       66
17시        4
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 25, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       3
14시    10.0
15시     1.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 26, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      0
13시      3
14시    4.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 27, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시      14
14시    34.0
15시    17.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 28, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       3
12시      28
13시      27
14시    27.0
15시    18.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 29, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       6
14시    31.0
15시     8.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 30, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      33
13시      67
14시    67.0
15시    56.0
16시      15
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 31, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       9
13시      20
14시    20.0
15시     9.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 32, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      2
12시      5
13시      7
14시    2.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 33, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      25
13시      72
14시    75.0
15시    73.0
16시      42
17시       7
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 34, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시      27
12시      62
13시      59
14시    36.0
15시    51.0
16시      18
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 35, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시      37
12시      56
13시      56
14시    57.0
15시    57.0
16시      38
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 36, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       3
14시    27.0
15시     4.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 37, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       2
12시      94
13시     114
14시    95.0
15시    45.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 38, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시         0
10시        0
11시       32
12시      141
13시      149
14시    149.0
15시    108.0
16시       77
17시       26
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 39, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시        14
10시       92
11시      144
12시      162
13시      162
14시    162.0
15시    149.0
16시       91
17시        3
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 40, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       5
14시    12.0
15시     0.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 41, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      26
13시      92
14시    42.0
15시     0.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 42, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      10
13시      43
14시    43.0
15시    12.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 43, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시      16
14시    14.0
15시     1.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 44, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      6
13시     19
14시    1.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 45, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시         0
10시        0
11시        3
12시       70
13시      133
14시    108.0
15시     36.0
16시       50
17시       30
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 46, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         0
9시        32
10시       76
11시      151
12시      159
13시      158
14시    154.0
15시    154.0
16시      100
17시       14
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 47, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       8
11시      37
12시      71
13시      81
14시    81.0
15시    72.0
16시      14
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 48, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      0
13시      0
14시    5.0
15시    0.0
16시      3
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 49, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       3
14시    15.0
15시     1.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 50, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시     17
11시     36
12시      6
13시      0
14시    0.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 51, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      16
13시      68
14시    95.0
15시    49.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 52, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       0
14시    12.0
15시    28.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 53, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       0
13시       1
14시    10.0
15시     3.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 54, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시     12
13시     14
14시    0.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 55, dtype: object
1시         0
2시         0
3시         0
4시         0
5시         0
6시         0
7시         0
8시         2
9시        72
10시      137
11시      149
12시      149
13시      149
14시    149.0
15시    136.0
16시       49
17시        2
18시        0
19시        0
20시        0
21시        0
22시        0
23시        0
24시        0
Name: 56, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시      29
12시      69
13시      77
14시    33.0
15시    13.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 57, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      0
12시      0
13시     29
14시    5.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 58, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       9
13시      61
14시    48.0
15시    17.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 59, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      12
13시      16
14시    16.0
15시     6.0
16시       1
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 60, dtype: object
1시       0
2시       0
3시       0
4시       0
5시       0
6시       0
7시       0
8시       0
9시       0
10시      0
11시      3
12시      9
13시     17
14시    8.0
15시    0.0
16시      0
17시      0
18시      0
19시      0
20시      0
21시      0
22시      0
23시      0
24시      0
Name: 61, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시      13
13시      49
14시    10.0
15시     0.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 62, dtype: object
1시        0
2시        0
3시        0
4시        0
5시        0
6시        0
7시        0
8시        0
9시        0
10시       0
11시       0
12시       7
13시      36
14시    28.0
15시     1.0
16시       0
17시       0
18시       0
19시       0
20시       0
21시       0
22시       0
23시       0
24시       0
Name: 63, dtype: object

In [123]:
for i in df.index:
    for j in df.loc[i,'1시':'24시']:
        if j == 0:
            print('없음')
        else:
            print('+있음')

없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
없음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
없음
+있음
+있음
+있음
+있음
없음
없음
없음
없음
없음
없음
없음
없음
없음

In [126]:
for i in df.index:
       print(df.loc[i,'1시':'24시'].apply(lambda x: x!=0))

1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 0, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 1, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 2, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 3, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 4, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 5, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시    False
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 6, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 7, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 8, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 9, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 10, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 11, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 12, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 13, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 14, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 15, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 16, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 17, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시     True
11시     True
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 18, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 19, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 20, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 21, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 22, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 23, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시     True
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 24, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 25, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 26, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 27, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 28, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 29, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 30, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 31, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 32, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 33, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 34, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 35, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 36, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 37, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 38, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 39, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시      True
10시     True
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 40, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 41, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 42, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 43, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 44, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 45, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 46, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시      True
10시     True
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 47, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시     True
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 48, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시    False
16시     True
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 49, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 50, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시     True
11시     True
12시     True
13시    False
14시    False
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 51, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 52, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시    False
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 53, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 54, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시    False
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 55, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시      True
9시      True
10시     True
11시     True
12시     True
13시     True
14시     True
15시     True
16시     True
17시     True
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 56, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시     True
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 57, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시    False
13시     True
14시     True
15시    False
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False
24시    False
Name: 58, dtype: bool
1시     False
2시     False
3시     False
4시     False
5시     False
6시     False
7시     False
8시     False
9시     False
10시    False
11시    False
12시     True
13시     True
14시     True
15시     True
16시    False
17시    False
18시    False
19시    False
20시    False
21시    False
22시    False
23시    False

In [131]:
def chk(x):
    if x!=0:
        return '+있음'
    else:
        return '없음'

In [132]:
for i in df.index:
       print(df.loc[i,'1시':'24시'].apply(lambda x:chk(x)))

1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 0, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 1, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 2, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 3, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 4, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 5, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시     없음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 6, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 7, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 8, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 9, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 10, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 11, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 12, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 13, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 14, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 15, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 16, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 17, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 18, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 19, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 20, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 21, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 22, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 23, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 24, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 25, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 26, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 27, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 28, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 29, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 30, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 31, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 32, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 33, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 34, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 35, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 36, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 37, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 38, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 39, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시     +있음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 40, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 41, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 42, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 43, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 44, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 45, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 46, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시     +있음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 47, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 48, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시     없음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 49, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 50, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시    +있음
11시    +있음
12시    +있음
13시     없음
14시     없음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 51, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 52, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시     없음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 53, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 54, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시     없음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 55, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시     +있음
9시     +있음
10시    +있음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시    +있음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 56, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 57, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시     없음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 58, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 59, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시    +있음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 60, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시    +있음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 61, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시     없음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 62, dtype: object
1시      없음
2시      없음
3시      없음
4시      없음
5시      없음
6시      없음
7시      없음
8시      없음
9시      없음
10시     없음
11시     없음
12시    +있음
13시    +있음
14시    +있음
15시    +있음
16시     없음
17시     없음
18시     없음
19시     없음
20시     없음
21시     없음
22시     없음
23시     없음
24시     없음
Name: 63, dtype: object

In [135]:
[i for i in range(10)] #리스트에 i 하면 반복값이 리스트에 담긴다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
list1 = []                  # 위에랑 같은식이지만 위에 식이 더빠르다

for i in range(10):
    list1 += [i]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
df['일자']

0     2021-01-13
1     2021-01-16
2     2021-01-18
3     2021-01-19
4     2021-01-24
         ...
59    2021-10-22
60    2021-10-23
61    2021-10-31
62    2021-11-03
63    2021-12-03
Name: 일자, Length: 64, dtype: object

In [143]:
'2021-01-13'.split('-')[-1]  # 날짜를  - 기준으로 나눠서 리스트에 담아서 -1번째는 일자가 나옴

'13'

In [145]:
list1 = []
for i in df['일자']:
    print(i.split('-')[-1])
list1

13
16
18
19
24
27
28
29
31
02
04
08
09
13
15
20
21
22
23
02
14
15
16
17
21
22
23
26
28
30
04
05
06
07
08
10
11
13
14
17
18
19
23
25
26
30
01
02
05
08
12
21
25
27
30
03
17
19
21
22
23
31
03
03

[]

In [150]:
[i.split('-')[-1] for i in df['일자']] # 아래랑 결과값이 같음

['13',
 '16',
 '18',
 '19',
 '24',
 '27',
 '28',
 '29',
 '31',
 '02',
 '04',
 '08',
 '09',
 '13',
 '15',
 '20',
 '21',
 '22',
 '23',
 '02',
 '14',
 '15',
 '16',
 '17',
 '21',
 '22',
 '23',
 '26',
 '28',
 '30',
 '04',
 '05',
 '06',
 '07',
 '08',
 '10',
 '11',
 '13',
 '14',
 '17',
 '18',
 '19',
 '23',
 '25',
 '26',
 '30',
 '01',
 '02',
 '05',
 '08',
 '12',
 '21',
 '25',
 '27',
 '30',
 '03',
 '17',
 '19',
 '21',
 '22',
 '23',
 '31',
 '03',
 '03']

In [149]:
df['일자'].apply(lambda x: x.split('-')[-1])      # apply적용시킨다 lambda라는것을 람다는 x.split('-'[-1])로 지정

0     13
1     16
2     18
3     19
4     24
      ..
59    22
60    23
61    31
62    03
63    03
Name: 일자, Length: 64, dtype: object

In [151]:
# 패키지or 자료형에서 지원하는 함수

In [152]:
import time

In [154]:
time.sleep(3)  # 일정시간이지난후 코드가 실행
print('기상')

기상

In [155]:
#자료형에서 지원하는 함수

In [157]:
'hello'.replace('h','l')

'lello'

In [158]:
replace() # 디파인되어있지않음. 자료형뒤에붙여서만 사용

NameError: name 'replace' is not defined

In [159]:
'hello'.split('l')

['he', '', 'o']

In [161]:
'l'.join(['he', '', 'o']) # l 을 기준으로 앞에 he l'' l o를 붙임     join(iterable각각의요소가있는ex]list)형태로 사용

'hello'

## 실습
1. 일자정보를 정리한다: YYYY-MM-DD > DD형식으로 바꾸기 , 단 해당날짜는 계산이 가능해야한다.
2. 모든일자에 대해 1시~24시 정보 중 , 몇시에 제어량이 가장 높은지 알아보자 
3. 총제어량이 가장 낮은 날짜를 구해라.
4. 총제어량이 평균 이상인 대상을 True, 아니면 False로 표기해서 평균 column으로 저장한다

In [171]:
pd.DataFrame([1,2,3]).max() # 최댓감

0    3
dtype: int64

In [167]:
pd.DataFrame([1,2,3]).min() #최소값

0    1
dtype: int64

In [168]:
pd.DataFrame([1,2,3,]).mean() # 평균

0    2.0
dtype: float64

In [170]:
pd.DataFrame([1,2,3]).sum() #총합

0    6
dtype: int64

In [164]:
df.head(2)

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,16시,17시,18시,19시,20시,21시,22시,23시,24시,총제어량
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.17
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.75

In [256]:
df['일자'].apply(lambda x: x.split('-')[-1])

0     13
1     16
2     18
3     19
4     24
      ..
59    22
60    23
61    31
62    03
63    03
Name: 일자, Length: 64, dtype: object

In [200]:
df.loc[:,'1시':'24시'].max(axis=1)

0     28.0
1     18.0
2     25.0
3     22.0
4     43.0
      ...
59    61.0
60    16.0
61    17.0
62    49.0
63    36.0
Length: 64, dtype: float64

In [219]:
df.loc[:,'총제어량'].min()

0.84

### 풀이

In [ ]:
df['일자']

In [229]:
def date(x):
    split_date = i.split('-')
    split_date = split_date[-1]
    return int(split_date)

In [230]:
[date(i) for i in df['일자']]
df['일자_변경'] = df['일자'].apply(lambda x: date(x))

AttributeError: 'int' object has no attribute 'split'

In [234]:
for i in df.index:                     #2. 모든일자에 대해 1시~24시 정보 중 , 몇시에 제어량이 가장 높은지 알아보자 
    print(df.loc[i,'1시':'24시'].max())

28.0
18.0
25.0
22.0
43.0
4.0
41
45.0
0.46
78.0
33
149.0
25.0
6.0
28.0
88.0
59
44
93
73
26
18.0
59.0
13
156
138.0
10.0
4.0
34.0
28
31.0
67
20
7
75.0
62
57.0
27.0
114
149
162
12.0
92
43
16
19
133
159
81
5.0
15.0
36
95.0
28.0
10.0
14
149
77
29
61
16
17
49
36

In [235]:
df['최댓값']= [df.loc[i,'1시':'24시'].max() for i in df.index]  # 최댓값을 넣어줌

In [236]:
df

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,최댓값
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,65.17,28.0
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21.75,18.0
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46.67,25.0
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36.10,22.0
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,97.67,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2021-10-22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,136.26,61.0
60,2021-10-23,61,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,50.60,16.0
61,2021-10-31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,37.12,17.0
62,2021-11-03,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,71.97,49.0
63,2021-12-03,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,72.05,36.0

In [239]:
df.loc[:,'1시':'24시'].max(axis=1)

0     28.0
1     18.0
2     25.0
3     22.0
4     43.0
      ...
59    61.0
60    16.0
61    17.0
62    49.0
63    36.0
Length: 64, dtype: float64

In [242]:
df['총제어량'].min()

0.84

In [245]:
df[df['총제어량'] == 0.84]       # 마스킹 True or False 기반의 인덱싱

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,17시,18시,19시,20시,21시,22시,23시,24시,총제어량,최댓값
8,2021-01-31,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.84,0.46

In [248]:
mean_value = df['총제어량'].mean()

In [250]:
m = df['총제어량'] > mean_value

In [251]:
df['평균'] = m

In [253]:
df[m]

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,18시,19시,20시,21시,22시,23시,24시,총제어량,최댓값,평균
9,2021-02-02,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,202.28,78.0,True
11,2021-02-08,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,646.70,149.0,True
15,2021-02-20,16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,284.86,88.0,True
16,2021-02-21,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,294.84,59.0,True
18,2021-02-23,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,324.34,93.0,True
19,2021-03-02,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,248.90,73.0,True
24,2021-03-21,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,855.80,156.0,True
25,2021-03-22,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,589.81,138.0,True
31,2021-04-05,32,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,236.69,67.0,True
34,2021-04-08,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,294.84,75.0,True
35,2021-04-10,36,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,253.31,62.0,True
36,2021-04-11,37,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,302.08,57.0,True
38,2021-04-14,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,350.14,114.0,True
39,2021-04-17,40,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,682.19,149.0,True
40,2021-04-18,41,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,979.07,162.0,True
46,2021-05-01,47,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,430.09,133.0,True
47,2021-05-02,48,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,999.08,159.0,True
48,2021-05-05,49,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,364.27,81.0,True
52,2021-05-25,53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,228.17,95.0,True
56,2021-10-17,57,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,993.33,149.0,True
57,2021-10-19,58,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,220.62,77.0,True

In [255]:
df[-m]               # 평균값보다 작은값들 False값들 가져옴

,일자,횟수,1시,2시,3시,4시,5시,6시,7시,8시,...,18시,19시,20시,21시,22시,23시,24시,총제어량,최댓값,평균
0,2021-01-13,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,65.17,28.00,False
1,2021-01-16,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,21.75,18.00,False
2,2021-01-18,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,46.67,25.00,False
3,2021-01-19,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,36.10,22.00,False
4,2021-01-24,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,97.67,43.00,False
5,2021-01-27,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.21,4.00,False
6,2021-01-28,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,76.56,41.00,False
7,2021-01-29,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,71.53,45.00,False
8,2021-01-31,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.84,0.46,False
10,2021-02-04,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,82.11,33.00,False
12,2021-02-09,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,67.93,25.00,False
13,2021-02-13,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.32,6.00,False
14,2021-02-15,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,45.04,28.00,False
17,2021-02-22,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,98.38,44.00,False
20,2021-03-14,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,108.09,26.00,False
21,2021-03-15,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,30.67,18.00,False
22,2021-03-16,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,103.71,59.00,False
23,2021-03-17,24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,15.15,13.00,False
26,2021-03-23,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,14.34,10.00,False
27,2021-03-26,28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.07,4.00,False
28,2021-03-28,29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,64.89,34.00,False
29,2021-03-30,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,101.75,28.00,False
30,2021-04-04,31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,45.16,31.00,False
32,2021-04-06,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,57.81,20.00,False
33,2021-04-07,34,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,15.69,7.00,False
37,2021-04-13,38,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,33.20,27.00,False
41,2021-04-19,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,17.33,12.00,False
42,2021-04-23,43,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,159.63,92.00,False
43,2021-04-25,44,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,107.95,43.00,False
44,2021-04-26,45,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,31.67,16.00,False
45,2021-04-30,46,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,25.95,19.00,False
49,2021-05-08,50,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.72,5.00,False
50,2021-05-12,51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,19.53,15.00,False
51,2021-05-21,52,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,58.07,36.00,False
53,2021-05-27,54,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,40.01,28.00,False
54,2021-05-30,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,13.99,10.00,False
55,2021-10-03,56,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,26.28,14.00,False
58,2021-10-21,59,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,33.51,29.00,False
59,2021-10-22,60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,136.26,61.00,False
60,2021-10-23,61,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,50.60,16.00,False
61,2021-10-31,62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,37.12,17.00,False
62,2021-11-03,63,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,71.97,49.00,False
63,2021-12-03,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,72.05,36.00,False

In [262]:
import pandas as pd

In [268]:
df= pd.read_csv('../../Downloads/시청자미디어재단_체험형미디어교육_20230704.csv', encoding='cp949')

In [271]:
df['센터명'].unique()  # 센터명의 고유값을 가져옴

array(['대전시청자미디어센터', '울산시청자미디어센터', '경기시청자미디어센터', '세종시청자미디어센터',
       '인천시청자미디어센터', '충북시청자미디어센터', '강원시청자미디어센터', '부산시청자미디어센터',
       '서울시청자미디어센터', '광주시청자미디어센터'], dtype=object)

In [278]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
0,대전시청자미디어센터,센터 체험_대전가양초등학교,강사미정,2023-07-01,2023-07-01,다문화가정 초등학생 체험/TV체험,초등학생,오프라인,토,13,2023-06-21,1
1,대전시청자미디어센터,센터 체험_노은유치원,강사미정,2023-07-04,2023-07-04,7세반 유아/TV체험,어린이,오프라인,화,25,2023-06-21,1
2,대전시청자미디어센터,센터 체험_대전성천초등학교,강사미정,2023-07-04,2023-07-04,3~4학년/TV체험,초등학생,오프라인,화,20,2023-06-21,1
3,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,TV체험,중학생,오프라인,화,16,2023-06-21,1
4,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,라디오체험,중학생,오프라인,화,16,2023-06-21,1
...,...,...,...,...,...,...,...,...,...,...,...,...
88,서울시청자미디어센터,방산중 미디어체험교육,"황혜정,김도경,김민호",2023-07-03,2023-07-03,"뉴스 체험, 더빙 체험, 스톱모션 체험 교육",중등,오프라인,월,75,2023-07-03,1
89,서울시청자미디어센터,상설 미디어체험교육,"김도경,이수현,이슬기",2023-07-08,2023-07-29,"뉴스 체험, 더빙 체험 교육",일반,오프라인,토,미정,2023-07-03,1
90,서울시청자미디어센터,애화학교 찾아가는 미디어 나눔버스,"이수현,이슬기",2023-07-17,2023-07-17,크로마키/ 뉴스 체험 교육,청소년,오프라인,월,미정,2023-07-03,1
91,광주시청자미디어센터,TV체험,미정,2023-01-01,2023-12-31,"방송(뉴스, 예능) 프로그램 제작 체험",일반 시민,오프라인,"월,화,수,목,금,토",30,2023-06-29,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

In [280]:
df[df['센터명'] == '경기시청자미디어센터']  # 전일치 검색

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
40,경기시청자미디어센터,TV뉴스체험,이혜진,2023-07-07,2023-07-07,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,금,20,2023-06-28,1
41,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,목,15,2023-06-28,1
42,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,고등학생,오프라인,목,15,2023-06-28,1
43,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 중등),중학생,오프라인,목,15,2023-06-28,1
44,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,중학생,오프라인,목,15,2023-06-28,1

In [281]:
m = df['센터명'] == '경기시청자미디어센터'

In [282]:
df[m]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
40,경기시청자미디어센터,TV뉴스체험,이혜진,2023-07-07,2023-07-07,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,금,20,2023-06-28,1
41,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,목,15,2023-06-28,1
42,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,고등학생,오프라인,목,15,2023-06-28,1
43,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 중등),중학생,오프라인,목,15,2023-06-28,1
44,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,중학생,오프라인,목,15,2023-06-28,1

In [283]:
df['강좌명']

0              센터 체험_대전가양초등학교
1                 센터 체험_노은유치원
2              센터 체험_대전성천초등학교
3     센터 체험_중리중학교(자유학년제 진로체험)
4     센터 체험_중리중학교(자유학년제 진로체험)
               ...
88                방산중 미디어체험교육
89                 상설 미디어체험교육
90         애화학교 찾아가는 미디어 나눔버스
91                       TV체험
92                      라디오체험
Name: 강좌명, Length: 93, dtype: object

In [286]:
df[df['강좌명'] == '라디오체험']

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
69,인천시청자미디어센터,라디오체험,"이해인,강진경",2023-07-08,2023-07-08,라디오 프로그램 제작 체험,고등학생,오프라인,토,16,2023-07-04,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

In [289]:
m2 = df['센터명'].apply(lambda x: x.startswith('경기'))  # 단일 단어로 검색!

In [290]:
df[m2]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
40,경기시청자미디어센터,TV뉴스체험,이혜진,2023-07-07,2023-07-07,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,금,20,2023-06-28,1
41,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,목,15,2023-06-28,1
42,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,고등학생,오프라인,목,15,2023-06-28,1
43,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 중등),중학생,오프라인,목,15,2023-06-28,1
44,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,중학생,오프라인,목,15,2023-06-28,1

In [292]:
df[df['강사명'].apply(lambda x : x.startswith('임지연'))]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
42,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,고등학생,오프라인,목,15,2023-06-28,1
44,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,중학생,오프라인,목,15,2023-06-28,1

In [294]:
df['강좌명'].unique()

array(['센터 체험_대전가양초등학교', '센터 체험_노은유치원', '센터 체험_대전성천초등학교',
       '센터 체험_중리중학교(자유학년제 진로체험)', '센터 체험_센트럴유치원', '찾아가는 체험_진잠초등학교',
       '센터 체험_대전외국어고 방송부', '센터 체험_대전외국어고 일반학생', '나눔버스_충남 홍성 홍주고등학교',
       '센터 체험_국방정신전력원', '센터 체험_목련어린이집', '오늘은 NEWS데이', 'DJ수다박스', '찰칵 애니',
       '알고리즘+빅데이터', '빅데이터', '알고리즘', '초록세상 마법학교', '미고의 미디어 탐방기', 'DJ 수다박스',
       '더빙극장', 'TV뉴스체험', '애니메이션 더빙체험', '골라보는 뉴스룸', '두다다다 더빙탐험대', '초록TV',
       '찾아가는 미디어나눔버스(TV뉴스체험)', '크로마키체험', '라디오체험', 'TV체험(뉴스체험)',
       '라디오체험(DJ체험)', '유아 크로마키 체험', '폴리아티스트 체험', 'AI 체험', '라이브커머스체험',
       '폴리폴리', '꼼지락 뉴스', '무지개 뉴스', '무지개 TV', '라디오체험(웰컴투라디오)',
       '더빙체험(나도 애니주인공)', '스마트체험(꼼지락애니)', 'TV체험(행복뉴스)', '크로마키체험(파랑TV)',
       '찾아가는 미디어나눔버스 체험 교육', '방산중 미디어체험교육', '상설 미디어체험교육',
       '애화학교 찾아가는 미디어 나눔버스', 'TV체험'], dtype=object)

In [296]:
m3 = df['강좌명'].apply(lambda x : x.endswith('체험'))

In [297]:
df[m3]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
40,경기시청자미디어센터,TV뉴스체험,이혜진,2023-07-07,2023-07-07,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,금,20,2023-06-28,1
41,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,목,15,2023-06-28,1
42,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,고등학생,오프라인,목,15,2023-06-28,1
43,경기시청자미디어센터,TV뉴스체험,미정,2023-07-13,2023-07-13,TV뉴스체험(환경뉴스 중등),중학생,오프라인,목,15,2023-06-28,1
44,경기시청자미디어센터,애니메이션 더빙체험,임지연,2023-07-13,2023-07-13,애니메이션 더빙체험,중학생,오프라인,목,15,2023-06-28,1
65,인천시청자미디어센터,크로마키체험,"김은자,이희주",2023-07-03,2023-07-03,영상합성 크로마키 체험,중학생,오프라인,월,8,2023-07-04,1
66,인천시청자미디어센터,TV뉴스체험,"김은자,이세형",2023-07-04,2023-07-04,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,화,25,2023-07-04,1
67,인천시청자미디어센터,크로마키체험,"송선희,이승준",2023-07-06,2023-07-06,영상합성 크로마키 체험,초등학생,오프라인,목,6,2023-07-04,1
68,인천시청자미디어센터,TV뉴스체험,"이해인,강진경",2023-07-08,2023-07-08,TV 뉴스 제작 및 영상합성 크로마키 체험,고등학생,오프라인,토,16,2023-07-04,1
69,인천시청자미디어센터,라디오체험,"이해인,강진경",2023-07-08,2023-07-08,라디오 프로그램 제작 체험,고등학생,오프라인,토,16,2023-07-04,1
72,충북시청자미디어센터,유아 크로마키 체험,미정,2023-05-02,2023-05-31,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,5세이상-7세이하,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
73,충북시청자미디어센터,폴리아티스트 체험,미정,2023-05-02,2023-05-31,영상에 어울리는 소리를 다양한 재료로 만들어보고 더빙해보는 체험,초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
74,충북시청자미디어센터,AI 체험,미정,2023-05-02,2023-05-31,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
75,충북시청자미디어센터,라이브커머스체험,미정,2023-05-02,2023-05-31,라이브커머스의 이해 및 체험,초등생 이상,오프라인,"월,화,수,목,금,토",15,2023-06-29,1
91,광주시청자미디어센터,TV체험,미정,2023-01-01,2023-12-31,"방송(뉴스, 예능) 프로그램 제작 체험",일반 시민,오프라인,"월,화,수,목,금,토",30,2023-06-29,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

In [298]:
df['강좌정원수'].unique()

array(['13', '25', '20', '16', '18', '11', '10', '19', '30', '17', '21',
       '15', '22', '23', '60', '8', '6', '75', '미정'], dtype=object)

*강좌정원수가 짝수인 강좌만 골라서 리스트업해보세요

In [349]:
def to_int(x):
    try:
        x = int(x)
        if x%2 == 0 :
                 return True
        else:
                return False
    except:
        return x

In [351]:
m = df['강좌정원수'].apply(lambda x : to_int(x))

In [354]:
m2 = m == True

In [355]:
df[m2]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
2,대전시청자미디어센터,센터 체험_대전성천초등학교,강사미정,2023-07-04,2023-07-04,3~4학년/TV체험,초등학생,오프라인,화,20,2023-06-21,1
3,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,TV체험,중학생,오프라인,화,16,2023-06-21,1
4,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,라디오체험,중학생,오프라인,화,16,2023-06-21,1
5,대전시청자미디어센터,센터 체험_센트럴유치원,강사미정,2023-07-05,2023-07-05,7세반 유아/TV체험,어린이,오프라인,수,18,2023-06-21,1
6,대전시청자미디어센터,찾아가는 체험_진잠초등학교,강사미정,2023-07-07,2023-07-07,3학년 1반/TV/우리마을 스템프투어 작전명 유성,초등학생,오프라인,금,16,2023-06-21,1
8,대전시청자미디어센터,센터 체험_대전외국어고 일반학생,강사미정,2023-07-07,2023-07-07,일반 학생/라디오 체험,고등학생,오프라인,금,10,2023-06-21,1
10,대전시청자미디어센터,나눔버스_충남 홍성 홍주고등학교,강사미정,2023-07-13,2023-07-13,읍면지역학교/고등 1~3학년,고등학생,오프라인,목,30,2023-06-21,1
11,대전시청자미디어센터,나눔버스_충남 홍성 홍주고등학교,강사미정,2023-07-13,2023-07-13,읍면지역학교/고등 1~3학년,고등학생,오프라인,목,30,2023-06-21,1
40,경기시청자미디어센터,TV뉴스체험,이혜진,2023-07-07,2023-07-07,TV뉴스체험(환경뉴스 고등),고등학생,오프라인,금,20,2023-06-28,1
53,세종시청자미디어센터,초록TV,미정,2023-07-10,2023-07-10,유아 크로마키 체험,일반시민,오프라인,월,20,2023-07-04,1
54,세종시청자미디어센터,초록TV,미정,2023-07-11,2023-07-11,유아 크로마키 체험,일반시민,오프라인,화,20,2023-07-04,1
55,세종시청자미디어센터,초록TV,미정,2023-07-14,2023-07-14,유아 크로마키 체험,일반시민,오프라인,화,20,2023-07-04,1
56,세종시청자미디어센터,초록TV,미정,2023-07-19,2023-07-19,유아 크로마키 체험,일반시민,오프라인,수,20,2023-07-04,1
57,세종시청자미디어센터,초록TV,미정,2023-07-20,2023-07-20,유아 크로마키 체험,일반시민,오프라인,목,20,2023-07-04,1
58,세종시청자미디어센터,초록TV,미정,2023-07-21,2023-07-21,유아 크로마키 체험,일반시민,오프라인,금,20,2023-07-04,1
59,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은희",2023-07-07,2023-07-07,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,금,22,2023-07-04,1
61,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"박지원,김지원",2023-07-12,2023-07-12,TV 뉴스 제작 및 영상합성 크로마키 체험,시니어,오프라인,수,30,2023-07-04,1
63,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은희",2023-07-14,2023-07-14,TV 뉴스 제작 및 영상합성 크로마키 체험,일반시민,오프라인,금,60,2023-07-04,1
64,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"이해인,강진경",2023-07-15,2023-07-15,TV 뉴스 제작 및 영상합성 크로마키 체험,일반시민,오프라인,토,60,2023-07-04,1
65,인천시청자미디어센터,크로마키체험,"김은자,이희주",2023-07-03,2023-07-03,영상합성 크로마키 체험,중학생,오프라인,월,8,2023-07-04,1
67,인천시청자미디어센터,크로마키체험,"송선희,이승준",2023-07-06,2023-07-06,영상합성 크로마키 체험,초등학생,오프라인,목,6,2023-07-04,1
68,인천시청자미디어센터,TV뉴스체험,"이해인,강진경",2023-07-08,2023-07-08,TV 뉴스 제작 및 영상합성 크로마키 체험,고등학생,오프라인,토,16,2023-07-04,1
69,인천시청자미디어센터,라디오체험,"이해인,강진경",2023-07-08,2023-07-08,라디오 프로그램 제작 체험,고등학생,오프라인,토,16,2023-07-04,1
80,부산시청자미디어센터,라디오체험(웰컴투라디오),미정,2023-07-01,2023-07-31,라디오 프로그램 제작 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
81,부산시청자미디어센터,더빙체험(나도 애니주인공),미정,2023-07-01,2023-07-31,애니메이션 더빙 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
82,부산시청자미디어센터,스마트체험(꼼지락애니),미정,2023-07-01,2023-07-31,스톱모션 애니메이션 제작 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
83,부산시청자미디어센터,TV체험(행복뉴스),미정,2023-07-01,2023-07-31,방송뉴스 프로그램 제작 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
84,부산시청자미디어센터,크로마키체험(파랑TV),미정,2023-07-01,2023-07-31,크로마키 합성을 이용한 놀이형 체험,일반시민,오프라인,"월,화,수,목,금,토",20,2023-06-30,1
85,부산시청자미디어센터,찾아가는 미디어나눔버스 체험 교육,박세미,2023-07-04,2023-07-04,이동형 스튜디오 활용 라디오 프로그램 제작 체험,초등학생,오프라인,화,20,2023-06-30,1
87,부산시청자미디어센터,찾아가는 미디어나눔버스 체험 교육,김은미,2023-07-21,2023-07-21,이동형 스튜디오 활용 라디오 프로그램 제작 체험,중학생,오프라인,금,20,2023-07-04,1
91,광주시청자미디어센터,TV체험,미정,2023-01-01,2023-12-31,"방송(뉴스, 예능) 프로그램 제작 체험",일반 시민,오프라인,"월,화,수,목,금,토",30,2023-06-29,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

* 센터가 대전에 있고 , 운영요일이 토요일인 대상을 모두 찾아보세요

In [356]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
0,대전시청자미디어센터,센터 체험_대전가양초등학교,강사미정,2023-07-01,2023-07-01,다문화가정 초등학생 체험/TV체험,초등학생,오프라인,토,13,2023-06-21,1
1,대전시청자미디어센터,센터 체험_노은유치원,강사미정,2023-07-04,2023-07-04,7세반 유아/TV체험,어린이,오프라인,화,25,2023-06-21,1
2,대전시청자미디어센터,센터 체험_대전성천초등학교,강사미정,2023-07-04,2023-07-04,3~4학년/TV체험,초등학생,오프라인,화,20,2023-06-21,1
3,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,TV체험,중학생,오프라인,화,16,2023-06-21,1
4,대전시청자미디어센터,센터 체험_중리중학교(자유학년제 진로체험),강사미정,2023-07-04,2023-07-04,라디오체험,중학생,오프라인,화,16,2023-06-21,1
...,...,...,...,...,...,...,...,...,...,...,...,...
88,서울시청자미디어센터,방산중 미디어체험교육,"황혜정,김도경,김민호",2023-07-03,2023-07-03,"뉴스 체험, 더빙 체험, 스톱모션 체험 교육",중등,오프라인,월,75,2023-07-03,1
89,서울시청자미디어센터,상설 미디어체험교육,"김도경,이수현,이슬기",2023-07-08,2023-07-29,"뉴스 체험, 더빙 체험 교육",일반,오프라인,토,미정,2023-07-03,1
90,서울시청자미디어센터,애화학교 찾아가는 미디어 나눔버스,"이수현,이슬기",2023-07-17,2023-07-17,크로마키/ 뉴스 체험 교육,청소년,오프라인,월,미정,2023-07-03,1
91,광주시청자미디어센터,TV체험,미정,2023-01-01,2023-12-31,"방송(뉴스, 예능) 프로그램 제작 체험",일반 시민,오프라인,"월,화,수,목,금,토",30,2023-06-29,1
92,광주시청자미디어센터,라디오체험,미정,2023-01-01,2023-12-31,라디오 프로그램 제작 체험,일반 시민,오프라인,"월,화,수,목,금,토",20,2023-06-29,1

In [393]:
df2 = df['센터명'].apply(lambda x: x.startswith('대전'))

In [379]:
df['운영요일'].apply(lambda x: x ==('토'))

0      True
1     False
2     False
3     False
4     False
      ...
88    False
89     True
90    False
91    False
92    False
Name: 운영요일, Length: 93, dtype: bool

In [410]:
df2[df['운영요일'].apply(lambda x: x ==('토'))]

0      True
29    False
30    False
37    False
64    False
68    False
69    False
89    False
Name: 센터명, dtype: bool

In [386]:
query_expr = "센터명 == '대전시청자미디어센터' and 운영요일 == '토'"

In [387]:
df.query(query_expr)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수
0,대전시청자미디어센터,센터 체험_대전가양초등학교,강사미정,2023-07-01,2023-07-01,다문화가정 초등학생 체험/TV체험,초등학생,오프라인,토,13,2023-06-21,1

In [398]:
def to_int2(x):
    try:
        return int(x)
    except:
        return 0

In [400]:
df['강좌정원수2'] = df['강좌정원수'].apply(lambda x: to_int2(x))

In [402]:
df[df['강좌정원수2'] < 10]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수,강좌정원수2
65,인천시청자미디어센터,크로마키체험,"김은자,이희주",2023-07-03,2023-07-03,영상합성 크로마키 체험,중학생,오프라인,월,8,2023-07-04,1,8
67,인천시청자미디어센터,크로마키체험,"송선희,이승준",2023-07-06,2023-07-06,영상합성 크로마키 체험,초등학생,오프라인,목,6,2023-07-04,1,6
89,서울시청자미디어센터,상설 미디어체험교육,"김도경,이수현,이슬기",2023-07-08,2023-07-29,"뉴스 체험, 더빙 체험 교육",일반,오프라인,토,미정,2023-07-03,1,0
90,서울시청자미디어센터,애화학교 찾아가는 미디어 나눔버스,"이수현,이슬기",2023-07-17,2023-07-17,크로마키/ 뉴스 체험 교육,청소년,오프라인,월,미정,2023-07-03,1,0

In [403]:
query_expr = "0 < 강좌정원수2 < 10"   # 범위지정이 가능하다 
df.query(query_expr)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수,강좌정원수2
65,인천시청자미디어센터,크로마키체험,"김은자,이희주",2023-07-03,2023-07-03,영상합성 크로마키 체험,중학생,오프라인,월,8,2023-07-04,1,8
67,인천시청자미디어센터,크로마키체험,"송선희,이승준",2023-07-06,2023-07-06,영상합성 크로마키 체험,초등학생,오프라인,목,6,2023-07-04,1,6

In [407]:
x = int(input('상한을 입력하세요: '))

상한을 입력하세요: 15

In [408]:
x

15

In [409]:
query_expr = "0 < 강좌정원수2 < @x"     # 그냥 x입력하면 x값이 지정되지않음 @넣으면 됨!
df.query(query_expr)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,차수,강좌정원수2
0,대전시청자미디어센터,센터 체험_대전가양초등학교,강사미정,2023-07-01,2023-07-01,다문화가정 초등학생 체험/TV체험,초등학생,오프라인,토,13,2023-06-21,1,13
7,대전시청자미디어센터,센터 체험_대전외국어고 방송부,강사미정,2023-07-07,2023-07-07,방송부/TV체험,고등학생,오프라인,금,11,2023-06-21,1,11
8,대전시청자미디어센터,센터 체험_대전외국어고 일반학생,강사미정,2023-07-07,2023-07-07,일반 학생/라디오 체험,고등학생,오프라인,금,10,2023-06-21,1,10
65,인천시청자미디어센터,크로마키체험,"김은자,이희주",2023-07-03,2023-07-03,영상합성 크로마키 체험,중학생,오프라인,월,8,2023-07-04,1,8
67,인천시청자미디어센터,크로마키체험,"송선희,이승준",2023-07-06,2023-07-06,영상합성 크로마키 체험,초등학생,오프라인,목,6,2023-07-04,1,6