In [1]:
print('hello, world!')

hello, world!

In [3]:
##자료형

In [4]:
x = 123

In [7]:
x

123

In [9]:
type(x)

int

In [10]:
##파이썬의 연산자

In [11]:
x

123

In [12]:
x+ 456

579

In [13]:
x ** 2

15129

In [14]:
x % 5

3

In [15]:
x > 500

False

In [16]:
x < 500

True

In [17]:
y = '999'

In [18]:
type(y)

str

In [19]:
y + 50 # 에러남

TypeError: can only concatenate str (not "int") to str

In [20]:
y + '50'

'99950'

In [21]:
y

'999'

In [22]:
y = y + '50'

In [23]:
y

'99950'

In [24]:
# 배열형태의 자료형은 덧셈, 곱셈가능 뺄셈 나눗셈은 안됨

In [25]:
y * 3

'999509995099950'

In [26]:
z = [1,2,3]

In [27]:
z * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
z * z

TypeError: can't multiply sequence by non-int of type 'list'

In [29]:
z + [5]

[1, 2, 3, 5]

In [30]:
1235 + 5353

6588

In [31]:
3.5135 * 2.6443

9.29074805

In [32]:
'hello world' + '!!'

'hello world!!'

In [33]:
[3,73457,434]*4

[3, 73457, 434, 3, 73457, 434, 3, 73457, 434, 3, 73457, 434]

In [34]:
(1,6,8,13) -(13)

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [35]:
{1,5,6,7} - {7}

{1, 5, 6}

In [36]:
5j * 2

10j

In [37]:
5j // 2

TypeError: unsupported operand type(s) for //: 'complex' and 'int'

In [38]:
5 // 2

2

In [39]:
10 % 3

1

In [40]:
x = 3.6635
y = 10
z = {2,3,4}

In [41]:
x + y

13.663499999999999

In [42]:
type(x + y)

float

In [43]:
x + z

TypeError: unsupported operand type(s) for +: 'float' and 'set'

In [44]:
z = [2, 3, 4]

In [45]:
z + 4

TypeError: can only concatenate list (not "int") to list

In [46]:
z * y

[2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4,
 2,
 3,
 4]

In [47]:
z * x

TypeError: can't multiply sequence by non-int of type 'float'

In [48]:
type{}

SyntaxError: invalid syntax (1395121884.py, line 1)

In [49]:
type({})

dict

In [50]:
a = {2,3,4}

In [51]:
type(a)

set

In [52]:
a * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [53]:
a + {1}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
b = {name: 'nick', age : 23}

NameError: name 'name' is not defined

In [ ]:
b = {'name': 'nick' , 'age' : 23}

In [ ]:
type(b)

dict

In [62]:
b * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [63]:
c = (2,3,4,5)

In [64]:
c * 3

(2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5)

In [65]:
b

{'name': 'nick', 'age': 23}

In [66]:
a

{2, 3, 4}

In [67]:
a * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [68]:
a + {5}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [69]:
True + True

2

In [74]:
x = int(input('숫자하나를 입력해주세요 : '))

숫자하나를 입력해주세요 :  500

In [75]:
##두 수를 입력받아 덧셈

In [98]:
x = int(input())
y = int(input())

 10
 5

In [89]:
plus =x + y

In [90]:
print(plus)

36

In [91]:
minus = x - y

In [92]:
print(minus)

-16

In [100]:
'-'.join(['hello', 'world!'])

'hello-world!'

In [101]:
# ''기준으로 .내장함수([파라미터])

In [102]:
123/0

ZeroDivisionError: division by zero

In [103]:
print(hello,python) # 파라미터에  hello라는 단어를 정의하지 않았기 때문에 문자형으로 ''를 입력하여  문자형으로 출력

NameError: name 'hello' is not defined

In [104]:
print('hello, python' # ()완성되지않은 문자열 오타

SyntaxError: incomplete input (1512452771.py, line 1)

In [105]:
print('hello, python')

hello, python

In [111]:
#에러의 예외처리

In [112]:
try: 
    123/0
except:
    print('0으로 나눌수없다')

0으로 나눌수없다

In [114]:
try:
    print('여기에 문자열을 입력할수있습니다'그런데 에러가 나는 문자열입니다)
except:
    print('에러가 발생했다')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2651857656.py, line 2)

In [115]:
try:
    print('여기에 문자열을 입력할수있습니다',P)
except:
    print('에러가 발생했다')

에러가 발생했다

In [117]:
#http://pythontutor.com/ 나중에참고 실행상황 및 변수 현황 알수있는프로그램 반복문,변수할당 이해도움됨

In [118]:
#파이썬 정규식

In [119]:
# imfort 패키지 이름
import re

In [120]:
re.match('H', 'HELLO123%%*') # match는 시작부분을 비교 !

In [121]:
'HELLO123%%*'[0:1] #슬라이싱 N~(M-1)까지 범위를 탐색

'H'

In [135]:
'HELLO123%%*'[0] # 인덱싱 N번째 자리를 탐색

'H'

In [141]:
re.match('E', 'HELLO123%%*') # 시작부분이 H가 아니여서 안나옴

In [143]:
re.search('E', 'HELLO123%%*') # search 찾아줌

In [144]:
re.match('HELLO123%%*','HELLO123%%*')

In [145]:
re.findall('%', 'HELLO123%%*')

['%', '%']

In [146]:
str1 = 'hello~ 000000python' #000000을 123456 으로

In [176]:
re.sub('\d\d\d\d\d\d',"123456",str1)

'hello~ 123456python'

In [168]:
str2 = 'hello~ 433464python'

In [175]:
re.sub('[0-9]+','123456',str2)

'hello~ 123456python'

In [180]:
str3 = 'hello~ 363-939python' #XXX를 임의의 숫자로 리턴

In [179]:
re.findall('\d\d\d',str3)

['363', '939']

In [181]:
# \n 리눅스,맥 줄바꿈//

In [188]:
x ='''안녕 
줄바꿈 
했는데'''

In [185]:
y = '안녕 \n줄바꿈 \n했는데'

In [189]:
print(x)

안녕
줄바꿈
했는데

In [187]:
print(y)

안녕
줄바꿈
했는데

In [190]:
re.sub('\n','',y)

'안녕 줄바꿈 했는데'

In [ ]:
#이스케이프문자 시스템이 내보내는 문자같은거 받아낼때 사용

In [191]:
'문자열을\t입력'

'문자열을\t입력'

In [192]:
print('문자열을\t입력')

문자열을	입력

In [194]:
'따옴표를 입력했는데, 이 안에 /"따옴표/"를 또넣고싶어'

'따옴표를 입력했는데, 이 안에 /"따옴표/"를 또넣고싶어'

In [197]:
print('따옴표를 입력했는데, 이 안에 \'따옴표\'를 또넣고싶어')

따옴표를 입력했는데, 이 안에 '따옴표'를 또넣고싶어

In [199]:
print('파이썬\t이스케이프\t문자\t실습')

파이썬	이스케이프	문자	실습

In [200]:
print('파이썬\n이스케\n이프문\n자실습')

파이썬
이스케
이프문
자실습

In [201]:
n='파이썬이스케이프문자실습'

In [202]:
re.sub('[3]','\n',n)

'파이썬\n이스케\n이프문\n자실습'

In [203]:
print(re.sub('[3]','\n',n))

파이썬
이스케
이프문
자실습

In [5]:
txt = '파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'

In [5]:
'''
1.모든 한글만 추출한다
2.콤마를 기준으로 줄바꿈을 해 문자열을 출력한다
3.'파이썬'이라는 글자를 지워 txt3변수에 저장한다
4.출력 예시와 같이 출력한다

[출력예시]
오늘은% 문자열을% 배웠고,%
그% 지식을% 이용해서% 문자열% 수정을% 해% 봅시다.'''

"\n1.모든 한글만 추출한다\n2.콤마를 기준으로 줄바꿈을 해 문자열을 출력한다\n3.'파이썬'이라는 글자를 지워 txt3변수에 저장한다\n4.출력 예시와 같이 출력한다\n\n[출력예시]\n오늘은% 문자열을% 배웠고,%\n그% 지식을% 이용해서% 문자열% 수정을% 해% 봅시다."

In [8]:
import re

In [12]:
re.sub('^[가-힣]','',txt) #1

'이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'

In [7]:
txt.replace('파이썬', '')

'오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n'

In [14]:
print(re.sub('[^가-힣]','',txt))

파이썬오늘은문자열을배웠고그지식을이용해서문자열수정을해봅시다파이썬

In [9]:
re.findall('[가-힣]', txt)

['파',
 '이',
 '썬',
 '오',
 '늘',
 '은',
 '문',
 '자',
 '열',
 '을',
 '배',
 '웠',
 '고',
 '그',
 '지',
 '식',
 '을',
 '이',
 '용',
 '해',
 '서',
 '문',
 '자',
 '열',
 '수',
 '정',
 '을',
 '해',
 '봅',
 '시',
 '다',
 '파',
 '이',
 '썬']

In [250]:
txt2 = re.sub(',',',\n',txt)
print(txt2) #2

파이썬오늘은	문자열을	배웠고,
	그	지식을	이용해서	문자열	수정을	해	봅시다.
파이썬

In [232]:
txt3 = re.sub('파이썬','',txt) #3
print(txt3)

오늘은	문자열을	배웠고,	그	지식을	이용해서	문자열	수정을	해	봅시다.

In [246]:
txt4 = re.sub('\t','% ',txt3) #4 
print(txt4)

오늘은% 문자열을% 배웠고,% 그% 지식을% 이용해서% 문자열% 수정을% 해% 봅시다.

In [247]:
txt5 = re.sub(',%',',%\n',txt4)
print(txt5)

오늘은% 문자열을% 배웠고,%
 그% 지식을% 이용해서% 문자열% 수정을% 해% 봅시다.

In [16]:
ren2 = 'aelkaevaleknaevpenrrn_135^^@@!#$67laf김jsdvo리기구비penvlaie라야rbna;_320290602345flkovbanfldl#dla38%'

In [17]:
re.search('@@',ren2)

In [18]:
re.sub('^[가-힣]','#',ren2)

'aelkaevaleknaevpenrrn_135^^@@!#$67laf김jsdvo리기구비penvlaie라야rbna;_320290602345flkovbanfldl#dla38%'

In [19]:
print(re.sub('a','\n',ren2))

elk
ev
lekn
evpenrrn_135^^@@!#$67l
f김jsdvo리기구비penvl
ie라야rbn
;_320290602345flkovb
nfldl#dl
38%

In [283]:
re.sub('a[a-z]+','바보',ren2)

'바보_135^^@@!#$67l바보김jsdvo리기구비penvl바보라야rbna;_320290602345flkovb바보#dla38%'

In [284]:
re.sub('v.','여기',ren2)

'aelkae여기leknae여기enrrn_135^^@@!#$67laf김jsd여기리기구비pen여기aie라야rbna;_320290602345flko여기anfldl#dla38%'

In [287]:
re.sub('[e|y].*','이런',ren2)

'a이런'